@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kumbh sans;
}

body {
    background-color: rgb(27,161,173);
    display: flex;
    text-align: center;

}

.page {
    margin: 0 auto;
    padding: 100px;
}

img {
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    margin-top: 50px;
}

.vic {
    border-radius: 50%;
    margin-top: -20px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

section {
    background-color: white;
    padding-bottom: 50px;
    margin-top: -30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    font-size: 18px;
    color: #393943;
}

span {
    font-weight: 400;
    color: #A7A7AF;
}
p {
    color: #A7A7AF;
    font-size: small;
}

.addy {
    margin-top: 5px;
}

